* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-cards {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}