* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-cards {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.logo-area {
  margin: 10rem;
  float: right;
  width: 30rem;
  height: auto;
}

.logo-area img {
  width: 10rem;
  height: auto;
}