.contact-form {
  float: left;
  background: lightblue;
  display: flex;
  flex-direction: column;
  margin: 5rem 5%;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 50rem;
  max-height: 35rem;
  border-radius: 1rem;
  
}

.contact-container h3 {
  text-align: center;
  color: navy;
  font-size: 2.5rem;
  font-weight: 750;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  color: black;
  border: 0;
  margin: .65rem;
  padding: 1rem;
  outline: none;
  background: white;
  font-size: 20px;
  border-radius: 0.5rem;
}

.contact-button {
  padding: 1rem;
  background: navy;
  color: #ffff66;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

button:hover {
  background: red;
  color: #ffff66;
  transition: background-color 0.25s ease-in-out;

}

.validation-message {
  color: red;
  font-size: 14px;
  margin: 0.5rem;
}

.donate-card {
  max-height: 35rem;
  background: lightblue;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 2rem 4rem;
  width: 30%;
  border-radius: 1rem;
  align-items: center;
}

.donate-image {
  margin: 1rem;
  width: 60%;
  border-radius: 1rem;
}


/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  form {
    margin: 2rem 0%;
    padding: 2rem;
  }

  form button {
    width: auto;
  }
}
