form {
  float: left;
  background: white;
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem;
  padding: 2rem 4rem;
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem;
}

form h3 {
  text-align: center;
  color: orange;
  font-size: 2.5rem;
  font-weight: 750;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  color: orange;
  border: 0;
  margin: 0.5rem;
  padding: 1rem;
  outline: none;
  background: whitesmoke;
  font-size: 16px;
}

form button {
  padding: 1rem;
  background: darkslategray;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 15rem;
  margin: 0.5rem auto 0;
  border-radius: 5rem;
}

form button:hover {
  background: orange;
}

.validation-message {
  color: red;
  font-size: 14px;
  margin: 0.5rem;
}