.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.search-box {
  width: 25%;
  padding: 1.5rem;
  background-color: olivedrab;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}

select {
  width: 150px;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 0.9em;
}

.q1, .q2, .q3 {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  text-align: right;
}

.searchButton {
  width: 40%;
  height: 2.5rem;
  align-self: center;
  background-color: orange;
  color: white;
  margin: 1.5rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.searchButton:hover {
  background-color: orange;
}

.logo img {
  margin-right: 5rem;
  height: 22rem;
  width: auto;
}

.card-side.back {
  transform: rotateY(-180deg);
  background-color: #4158D0; 
  /* background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);  */
}
.card-side.front {
   background-color: #0093E9;
   
   
  /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  */
}

.card:hover .card-side.front {
  transform: rotateY(180deg);
}

.card:hover .card-side.back {
  transform: rotateY(0deg);
}
.card{
  
  display: flex;
  perspective: 150rem;
  margin: 2em auto;
  height: 40rem;
  max-width: 400px;
  box-shadow: none;
  background: none;
  justify-content: space-around;
   display: flex; 
  /* justify-content: space-between; */
}
.card-side {
  height: 25rem;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  /* position:; */
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  color: white;
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .search-box {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 1.5rem; /* Add some space between the search box and logo */
  }

  .logo img {
    margin-right: 0; /* Remove margin on smaller screens */
    margin-bottom: 1.5rem; /* Add some space below the logo */
  }
}
