.home {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  padding: 20px;
}

.search-box {
  width: 35%;
  padding: 1.5rem;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
}

select {
  width: 25rem;
  padding: 8px;
  margin: 5px;
  border-radius: 0.5rem;
  font-size: 0.9em;
  background-color: navy;
  color: #ffff66;
}

.q1,
.q2,
.q3 {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: navy;
}

.error {
  color: red;
  text-align: right;
}

.searchButton {
  width: 40%;
  height: 2.5rem;
  align-self: center;
  background-color: navy;
  color: #ffff66;
  margin: 1.5rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.5em;
  cursor: pointer;
}

.searchButton:hover {
  background-color: red;
  transition: background-color 0.25s ease-in-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px; /* Add space between search box and card container */
}

.card {
  margin-bottom: 20px; /* Add space between individual cards */
}

.react-card-flipper :is(.react-card-back, .react-card-front) {
  width: 10rem;
  height: 3rem;
}

.react-card-flipper img {
  width: 100%;
  max-height: 33rem;
}

.back-of-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: navy;
  color: #ffff66;
  border-radius: 0.5rem;
}

/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .search-box {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 1.5rem; /* Add some space between the search box and card container */
  }
}
