.card {
  width: 22rem;
  margin: 1rem;
  text-align: center;
  background-color: none  ;
}

.card h1 {
  margin: 1.25rem 0rem 1rem;
  color: black;
  font-size: 24px;
}

.card-body {
  background-color: olivedrab;
  border-radius: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0rem;
}

.profilePic {
  margin: 0rem;
  border: 0.5rem solid orange;
  border-radius: 50%;
  width: 15rem;
  height: auto;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-body a {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.githubLogo {
  margin: rem;
  width: auto;
  height: 50px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: orange;
}
