.active {
  background-color: red;
  color: lemonchiffon;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0;
  background-color: lightblue;
  position: sticky;
  top: 0;
  border-bottom: .5rem solid navy;
}

.title {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: none;
  color: navy;
}

.logo img {
  width: 110px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 1rem 2rem 0rem 2rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 1rem;
}

nav ul li a {
  font-size: 1.25rem;
  display: block;
  text-decoration: none;
  color: navy;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: rgb(255, 255, 122);
  color: navy;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu span {
  width: 2.25rem;
  height: 0.4rem;
  background-color: navy;
  border-radius: 0.25rem;
  margin: 0.25rem;
  display: block;
}

@media (max-width: 638px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0.25rem;
    position: absolute;
    top: 4rem; /* Adjust the top position as needed */
    left: 0;
    background-color: olivedrab;
  }

  ul.open {
    display: flex;
  }

  ul li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
}
