/* Add or update your existing styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0;
  background-color: olivedrab;
  position: sticky;
  top: 0;
}

.title {
  display: flex;
  align-items: center;
  font-size: 3.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: orange;
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: .5rem .5rem 0 .5rem; /* Adjust the margin as needed */
}

.menu {
  display: none;
  cursor: pointer;
}

.menu span {
  width: 2.25rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 0.25rem;
  margin: 0.25rem;
  display: block;
}

@media (max-width: 638px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0.25rem;
    position: absolute;
    top: 4rem; /* Adjust the top position as needed */
    left: 0;
    background-color: olivedrab;
  }

  ul.open {
    display: flex;
  }

  ul li {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
  }
}
